//CUSTOM WIDGET ON WP ADMIN DASHBOARD
.CG-ADMIN-WIDGET {
  // border: 1rem dotted red;
  background-color: orangered;
  padding: 1rem;
  box-shadow: 3px 3px 8px gray;
  border-radius: 20px;

  .title-widget {
    color: white;
    margin-bottom: 1rem;
    text-align: center;
  }

  .image-widget {
    width: 100%;
    margin-bottom: 1rem;
    &:hover {
      opacity: 0.5;
    }
  }

  .text-widget {
    color: white;
    text-align: center;
  }
}

// WELCOME PANEL ON WP ADMIN DASHBOARD
#CG-ADMIN-WELCOME {
  a {
    img {
      &:hover {
        opacity: 0.3;
      }
    }
  }

  .welcome-panel-column {
    margin-bottom: 1rem;
    .welcome-panel-content {
      // border: 4px dotted blue;
      background: #e3e3e3;
      padding: 1rem;
    }
  }
}

#welcome-panel {
  .welcome-panel-close {
    // border: 1rem dotted red;
    padding-top: 2rem;

    &::before {
      top: 30px;
    }
  }
}

/** 
 * ACF WINDOW STYLES
 * PRETTY COOL
 */
#poststuff {
  // border: 1rem solid brown;
  background-color: #e3e3e3;
  padding-top: 2rem !important;
  padding-bottom: 1rem;

  .acf-postbox {
    // border: 1rem solid yellowgreen;
    border: 1px solid gray;
    box-shadow: 2px 2px 8px gray;

    .hndle.ui-sortable-handle {
      background-color: orangered;
      color: white;
    }
  }
}
